<launch>
  <arg name="gui" default="true" />

  <!-- sample rosbag play -->
  <node name="sample_rosbag_play" pkg="rosbag" type="play"
        args="$(find safe_footstep_planner)/bagfiles/sample_four_colors.bag -l"
        output="screen">
  </node>

  <!-- red color filter -->
  <include file="$(find opencv_apps)/launch/hsv_color_filter.launch" >
    <arg name="node_name" value="red_color_filter" />
    <arg name="image" value="/camera/rgb/image_raw" />
    <!-- params for orange -->
    <arg name="h_limit_max" value="33" doc="The maximum allowed field value Hue" />
    <arg name="h_limit_min" value="0" doc="The minimum allowed field value Hue" />
    <arg name="s_limit_max" value="256" doc="The maximum allowed field value Saturation" />
    <arg name="s_limit_min" value="189" doc="The minimum allowed field value Saturation" />
    <arg name="v_limit_max" value="196" doc="The maximum allowed field value Value" />
    <arg name="v_limit_min" value="256" doc="The minimum allowed field value Value" />
    <arg name="debug_view" value="false" />
  </include>

  <!-- green color filter -->
  <include file="$(find opencv_apps)/launch/hsv_color_filter.launch" >
    <arg name="node_name" value="green_color_filter" />
    <arg name="image" value="/camera/rgb/image_raw" />
    <!-- params for green -->
    <arg name="h_limit_max" value="158" doc="The maximum allowed field value Hue" />
    <arg name="h_limit_min" value="71" doc="The minimum allowed field value Hue" />
    <arg name="s_limit_max" value="256" doc="The maximum allowed field value Saturation" />
    <arg name="s_limit_min" value="128" doc="The minimum allowed field value Saturation" />
    <arg name="v_limit_max" value="227" doc="The maximum allowed field value Value" />
    <arg name="v_limit_min" value="6" doc="The minimum allowed field value Value" />
    <arg name="debug_view" value="false" />
  </include>

  <!-- blue color filter -->
  <include file="$(find opencv_apps)/launch/hsv_color_filter.launch" >
    <arg name="node_name" value="blue_color_filter" />
    <arg name="image" value="/camera/rgb/image_raw" />
    <!-- params for blue  -->
    <arg name="h_limit_max" value="245" doc="The maximum allowed field value Hue" />
    <arg name="h_limit_min" value="195" doc="The minimum allowed field value Hue" />
    <arg name="s_limit_max" value="256" doc="The maximum allowed field value Saturation" />
    <arg name="s_limit_min" value="136" doc="The minimum allowed field value Saturation" />
    <arg name="v_limit_max" value="254" doc="The maximum allowed field value Value" />
    <arg name="v_limit_min" value="66" doc="The minimum allowed field value Value" />
    <arg name="debug_view" value="false" />
  </include>

  <!-- yellow color filter -->
  <include file="$(find opencv_apps)/launch/hsv_color_filter.launch" >
    <arg name="node_name" value="yellow_color_filter" />
    <arg name="image" value="/camera/rgb/image_raw" />
    <!-- params for yellow  -->
    <arg name="h_limit_max" value="150" doc="The maximum allowed field value Hue" />
    <arg name="h_limit_min" value="59" doc="The minimum allowed field value Hue" />
    <arg name="s_limit_max" value="111" doc="The maximum allowed field value Saturation" />
    <arg name="s_limit_min" value="9" doc="The minimum allowed field value Saturation" />
    <arg name="v_limit_max" value="233" doc="The maximum allowed field value Value" />
    <arg name="v_limit_min" value="256" doc="The minimum allowed field value Value" />
    <arg name="debug_view" value="false" />
  </include>

  <!-- masked images to label -->
  <node name="maske_images_to_label" pkg="safe_footstep_planner" type="masked_image_to_label"/>

  <node name="label_image_viewer" pkg="image_view" type="image_view" if="$(arg gui)">
    <remap from="image" to="/label_image" />
  </node>

</launch>
