<launch>
  <arg name="gui"         default="false" />
  <!-- <arg name="INPUT_IMAGE" default="/camera/rgb/image_raw" /> -->
  <arg name="INPUT_IMAGE" default="/depth_image_creator/output_image" />
  <!-- <arg name="BAG_FILE"    default="$(find safe_footstep_planner)/bagfiles/sample_four_colors.bag" /> -->
  <arg name="use_bagfile" default="false" />
  <arg name="BAGFILE"     default="$(find safe_footstep_planner)/bagfiles/sample_convert_to_map.bag" />

  <arg name="RED_LABEL"    default="0" />
  <arg name="GREEN_LABEL"  default="0" />
  <arg name="BLUE_LABEL"   default="0" />
  <arg name="YELLOW_LABEL" default="0" />

  <!-- sample rosbag play -->
  <node name="sample_rosbag_play" pkg="rosbag" type="play"
        args="$(arg BAGFILE) -l --clock"
        output="screen" if="$(arg use_bagfile)">
  </node>

  <!-- red color filter -->
  <include file="$(find opencv_apps)/launch/hsv_color_filter.launch" >
    <arg name="node_name" value="red_color_filter" />
    <arg name="image" value="$(arg INPUT_IMAGE)" />
    <!-- params for orange -->
    <arg name="h_limit_max" value="33" doc="The maximum allowed field value Hue" />
    <arg name="h_limit_min" value="0" doc="The minimum allowed field value Hue" />
    <arg name="s_limit_max" value="256" doc="The maximum allowed field value Saturation" />
    <arg name="s_limit_min" value="189" doc="The minimum allowed field value Saturation" />
    <arg name="v_limit_max" value="196" doc="The maximum allowed field value Value" />
    <arg name="v_limit_min" value="256" doc="The minimum allowed field value Value" />
    <arg name="debug_view" value="false" />
  </include>

  <!-- green color filter -->
  <include file="$(find opencv_apps)/launch/hsv_color_filter.launch" >
    <arg name="node_name" value="green_color_filter" />
    <arg name="image" value="$(arg INPUT_IMAGE)" />
    <!-- params for green -->
    <arg name="h_limit_max" value="158" doc="The maximum allowed field value Hue" />
    <arg name="h_limit_min" value="71" doc="The minimum allowed field value Hue" />
    <arg name="s_limit_max" value="256" doc="The maximum allowed field value Saturation" />
    <arg name="s_limit_min" value="128" doc="The minimum allowed field value Saturation" />
    <arg name="v_limit_max" value="227" doc="The maximum allowed field value Value" />
    <arg name="v_limit_min" value="6" doc="The minimum allowed field value Value" />
    <arg name="debug_view" value="false" />
  </include>

  <!-- blue color filter -->
  <include file="$(find opencv_apps)/launch/hsv_color_filter.launch" >
    <arg name="node_name" value="blue_color_filter" />
    <arg name="image" value="$(arg INPUT_IMAGE)" />
    <!-- params for blue  -->
    <arg name="h_limit_max" value="245" doc="The maximum allowed field value Hue" />
    <arg name="h_limit_min" value="195" doc="The minimum allowed field value Hue" />
    <arg name="s_limit_max" value="256" doc="The maximum allowed field value Saturation" />
    <arg name="s_limit_min" value="136" doc="The minimum allowed field value Saturation" />
    <arg name="v_limit_max" value="24"  doc="The maximum allowed field value Value" />
    <arg name="v_limit_min" value="256" doc="The minimum allowed field value Value" />
    <arg name="debug_view" value="false" />
  </include>

  <!-- yellow color filter -->
  <include file="$(find opencv_apps)/launch/hsv_color_filter.launch" >
    <arg name="node_name" value="yellow_color_filter" />
    <arg name="image" value="$(arg INPUT_IMAGE)" />
    <!-- params for yellow  -->
    <!-- <arg name="h_limit_max" value="150" doc="The maximum allowed field value Hue" /> -->
    <!-- <arg name="h_limit_min" value="59" doc="The minimum allowed field value Hue" /> -->
    <!-- <arg name="s_limit_max" value="111" doc="The maximum allowed field value Saturation" /> -->
    <!-- <arg name="s_limit_min" value="9" doc="The minimum allowed field value Saturation" /> -->
    <!-- <arg name="v_limit_max" value="233" doc="The maximum allowed field value Value" /> -->
    <!-- <arg name="v_limit_min" value="256" doc="The minimum allowed field value Value" /> -->
    <!-- for choreonoid -->
    <arg name="h_limit_max" value="64" doc="The maximum allowed field value Hue" />
    <arg name="h_limit_min" value="47" doc="The minimum allowed field value Hue" />
    <arg name="s_limit_max" value="256" doc="The maximum allowed field value Saturation" />
    <arg name="s_limit_min" value="235" doc="The minimum allowed field value Saturation" />
    <arg name="v_limit_max" value="204" doc="The maximum allowed field value Value" />
    <arg name="v_limit_min" value="185" doc="The minimum allowed field value Value" />
    <arg name="debug_view" value="false" />
  </include>

  <!-- masked images to label -->
  <node name="masked_images_to_label" pkg="safe_footstep_planner" type="masked_image_to_label">
    <param name="red_label"    value="$(arg RED_LABEL)" />
    <param name="green_label"  value="$(arg GREEN_LABEL)" />
    <param name="blue_label"   value="$(arg BLUE_LABEL)" />
    <param name="yellow_label" value="$(arg YELLOW_LABEL)" />
  </node>

  <!-- label image to cost image -->
  <node name="label_to_cost_image" pkg="safe_footstep_planner" type="label_to_cost_image" />

  <!-- gui -->
  <node name="label_image_viewer" pkg="image_view" type="image_view" if="$(arg gui)">
    <remap from="image" to="/label_image" />
  </node>

</launch>
