<launch>
  <arg name="MANAGER" value="nodelet_manager" />
  <arg name="interactive_marker" value="true" />
  <arg name="rviz" default="true" />

  <node name="$(arg MANAGER)"
        pkg="nodelet" type="nodelet" args="manager" />

  <!-- <node pkg="tf" type="static_transform_publisher" name="virtual_camera_broadcaster" args="0.5 0.0 0.3 0.0 1.5707963267948966 0.0 camera_origin static_virtual_camera 100" /> -->

  <!-- make static virtual camera -->
  <node pkg="safe_footstep_planner" name="static_virtual_camera" type="static_virtual_camera" output="screen" />
  <group if="$(arg interactive_marker)">
    <include file="$(find safe_footstep_planner)/launch/tf_interactive_marker.launch" />
  </group>

  <!-- concatenate pointcloud -->
  <node name="concatenate_data"
        pkg="nodelet" type="nodelet"
        args="load pcl/PointCloudConcatenateDataSynchronizer /$(arg MANAGER)">
    <rosparam>
      output_frame: /camera1_rgb_optical_frame
      input_topics:
        - /camera1/depth_registered/points
        - /camera2/depth_registered/points
      approximate_sync: true
    </rosparam>
  </node>

  <!-- get image from static virtual camera -->
  <node name="depth_image_creator"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/DepthImageCreator /$(arg MANAGER)">
    <remap from="~input" to="/concatenate_data/output" />
    <remap from="~info" to="/static_virtual_camera/camera_info" />
    <rosparam>
      use_approximate: true
      max_queue_size: 20
    </rosparam>
  </node>

  <node type="rviz" name="rviz" pkg="rviz" args="-d $(find safe_footstep_planner)/config/depth_image_creator.rviz" if="$(arg rviz)"/>

</launch>
