<launch>
  <arg name="MANAGER" value="nodelet_manager" />
  <node name="$(arg MANAGER)"
        pkg="nodelet" type="nodelet" args="manager" />

  <!-- <node pkg="tf" type="static_transform_publisher" name="virtual_camera_broadcaster" args="0.5 0.0 0.3 0.0 1.5707963267948966 0.0 camera_origin static_virtual_camera 100" /> -->

  <group ns="camera1">
    <node name="depth_image_creator"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/DepthImageCreator /$(arg MANAGER)">
      <remap from="~input" to="depth_registered/points" />
      <remap from="~info" to="/static_virtual_camera/camera_info" />
      <rosparam>
        use_approximate: true
        max_queue_size: 20
      </rosparam>
    </node>
    <!-- <node name="depth_view" -->
    <!--       pkg="image_view" type="image_view"> -->
    <!--   <remap from="image" to="depth_image_creator/output" /> -->
    <!--   <rosparam> -->
    <!--     gui: false -->
    <!--     min_image_value: 0.5 -->
    <!--     max_image_value: 2.0 -->
    <!--     colormap: 2 -->
    <!--   </rosparam> -->
    <!-- </node> -->
  </group>

  <group ns="camera2">
    <node name="depth_image_creator"
          pkg="nodelet" type="nodelet"
          args="load jsk_pcl/DepthImageCreator /$(arg MANAGER)">
      <remap from="~input" to="depth_registered/points" />
      <remap from="~info" to="/static_virtual_camera/camera_info" />
      <rosparam>
        use_approximate: true
        max_queue_size: 20
      </rosparam>
    </node>
    <!-- <node name="depth_view" -->
    <!--       pkg="image_view" type="image_view"> -->
    <!--   <remap from="image" to="depth_image_creator/output" /> -->
    <!--   <rosparam> -->
    <!--     gui: false -->
    <!--     min_image_value: 0.5 -->
    <!--     max_image_value: 2.0 -->
    <!--     colormap: 2 -->
    <!--   </rosparam> -->
    <!-- </node> -->
  </group>

  <node name="fuse_rgb_images"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/FuseRGBImages /$(arg MANAGER)"
        output="screen" >
    <rosparam>
      approximate_sync: true
      averaging: false
      queue_size: 50
      input_topics:
      - /camera1/depth_image_creator/output_image
      - /camera2/depth_image_creator/output_image
    </rosparam>
  </node>

</launch>
