<launch>
  <arg name="MANAGER" default="nodelet_manager" />
  <arg name="rviz" default="true" />

  <node name="$(arg MANAGER)"
        pkg="nodelet" type="nodelet" args="manager" />

  <!-- make static virtual camera -->
  <node pkg="safe_footstep_planner" name="static_virtual_camera" type="static_virtual_camera" output="screen" />
  <!-- <node pkg="tf" type="static_transform_publisher" name="virtual_camera_broadcaster" args="1.4 0.0 0.07 -0.707107 0.707017 0.0 0.0 BODY static_virtual_camera 100" /> -->
  <node pkg="tf" type="static_transform_publisher" name="virtual_camera_broadcaster" args="1.2 0.0 0.07 -0.707107 0.707017 0.0 0.0 BODY static_virtual_camera 100" />  

  <!-- get image from static virtual camera -->
  <node name="depth_image_creator"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl/DepthImageCreator /$(arg MANAGER)">
    <remap from="~input" to="/multisense_local/image_points2_color" />
    <remap from="~info" to="/static_virtual_camera/camera_info" />
    <rosparam>
      use_approximate: true
      max_queue_size: 80
    </rosparam>
  </node>

  <!-- change pointcloud frame id to /map -->
  <node name="tf_transform_cloud"
        pkg="nodelet" type="nodelet"
        args="load jsk_pcl_utils/TfTransformCloud /$(arg MANAGER)">
    <!-- <remap from="~input" to="/extract_indices_target_label/output" /> -->
    <remap from="~input" to="/multisense_local/image_points2_color" />
    <rosparam>
      target_frame_id: map
    </rosparam>
  </node>

  <!-- rviz -->
  <group if="$(arg rviz)">
    <node type="rviz" name="rviz" pkg="rviz" args="-d $(find safe_footstep_planner)/config/depth_image_creator.rviz"/>
  </group>

</launch>
