<launch>

  <arg name="gui" default="true" />

  <node name="sample_manager"
        pkg="nodelet" type="nodelet"
        args="manager"
        output="screen"
        respawn="true">
  </node>

  <node name="crop_image"
        pkg="nodelet" type="nodelet"
        args="load image_proc/crop_decimate sample_manager"
        output="screen"
        respawn="true">
    <remap from="camera/image_raw" to="zed/left/image_raw_color"/>
    <remap from="zed/left/camera_info" to="zed/left/camera_info_raw"/>
    <remap from="camera_out/image_raw" to="zed/left/cropped_image"/>
    <remap from="camera_out/camera_info" to="zed/left/cropped_camera_info"/>
    <rosparam>
      queue_size: 10
      decimation_x: 1
      decimation_y: 1
      x_offset: 300
      y_offset: 100
      width: 100
      height: 200
      interpolation: 0
    </rosparam>
  </node>

  <node name="rect_publisher"
        pkg="safe_footstep_planner" type="rect_publisher">
    <remap from="~camera_info" to="zed/left/camera_info_raw" />
    <!-- <remap from="~input/rects" to="mask_image_to_rect/output" /> -->
    <rosparam>
      offset_x: 300
      offset_y: 100
      width: 100
      height: 200
    </rosparam>
  </node>

  <node name="draw_rects"
        pkg="jsk_perception" type="draw_rects">
    <remap from="~input" to="zed/left/image_raw_color" />
    <remap from="~input/rects" to="rect_publisher/output" />
    <rosparam>
      rect_boldness: 5
    </rosparam>
  </node>

  <group if="$(arg gui)">
    <node name="cropped_image_viz"
          pkg="image_view" type="image_view"
          output="screen"
          respawn="true">
      <remap from="image" to="zed/left/cropped_image"/>
    </node>
    <node name="image_view1"
          pkg="image_view" type="image_view">
      <remap from="image" to="draw_rects/output" />
    </node>
  </group>

</launch>
